---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-mint-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">frend.ai <span class="text-primary dark:text-white">Your Personal AI Best Friend</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">frend.ai is your ultimate virtual companion designed to understand your emotions, interest and preferences, allowing for meaningful and personalized interactions. Whether you're looking for someone to chat with, seek advice from, or simply share your day, our virtual friends are here for you 24/7. </p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://timely.frend.ai"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a>
                    <!--<a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>-->
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-around">
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Personalized Experience</h6>
                        <p class="mt-2 text-gray-500">Your virtual Frend is fully customizable with choices such as appearance, personality, and voice. allowing you to create a virtual friend that feels like a true companion, tailored to your preferences and needs.</p>
                    </div>
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Postive and Fun</h6>
                        <p class="mt-2 text-gray-500">Your Virtual Frend is designed to be a delightful companion that brings positivity and fun to your interactions by supporting you in managing your emotions and maintaining a positive mindset.</p>
                    </div>
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Smart and Empathetic</h6>
                        <p class="mt-2 text-gray-500">Frend.ai has the ability to remember past conversations and is able to leverage sentiment analysis to maintain continuity and build a deeper understanding of the user over time.</p>
                    </div>
                    <div class="text-center">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Your Personal AI</h6>
                      <p class="mt-2 text-gray-500">When help is needed, your AI Frend can also act as your personal butler/assistant, helping you with tasks such as scheduling appointments, setting reminders, and translations and more!</p>
                  </div>
                </div>
            </div>
        </div>
    </Container>
</div>