---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-mint-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">frend.ai <span class="text-primary dark:text-white">The all-in-one AI Solution at the tap of a button</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Introducing the world's first ever all-in-one AI solution for your business needs. frend can handle long and natural phone conversations with your customers, remember everything they say, and act on their requests across thousands of apps and use cases. It can do the entire job of a full time agent with no training, supervision or incentives, and always ready to serve your needs. </p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">AI Sales Agent</h6>
                        <p class="mt-2 text-gray-500">Imagine having a fleet of fully automated AI sales agent that can have engaging and natural sales conversations, your frend can analyze your customer's coversation and generate personalized and relevant responses, handle objections, and close deals. </p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">AI Call Assistant</h6>
                        <p class="mt-2 text-gray-500">Your virtual frend can perform repetitive and mundane tasks, such as scheduling appointments, sending follow-up emails, faster and more accurately than human agents. Allowing you to focus on growing your buisness.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">AI Coach and Advisor</h6>
                        <p class="mt-2 text-gray-500">Your Frend can provide personalized guidance, feedback, and support to users who want to improve their skills in various domains. Wether is to engage your users or train internal staff, your frend has got you covered. </p>
                    </div>
                    <div class="text-left">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">AI Translator</h6>
                      <p class="mt-2 text-gray-500">Need to reach a wider and more diverse audience across the world? Your frend can provide various services and support for your customer based on the language they preferred, eliminating the need for multilingual staff or translators. </p>
                  </div>
                </div>
            </div>
        </div>
    </Container>
</div>