---
import Container from "./Container.astro"

---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-mint-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-left text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Privacy Policy</h1>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Last updated: September 19, 2023</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please see our Privacy Snapshot for a high-level overview of our privacy practices.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">This Privacy Policy outlines how M3W Technology.Inc (“M3W Technology”, “we”, “us”) your personal information through our website – frend.ai, our mobile applications, our interactions with you through other modes of communication (such as SMS or instant messaging), and any other sites or services that link to this Privacy Policy (collectively, the “Services”).</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Our General Approach</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Conversational artificial intelligence is at the technological frontier. We believe that this emerging technology will fundamentally change the way that we engage with and think about computers in our everyday lives. Ultimately, our goal is to use AI to build safe, smart, kind, and engaging conversational partners.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Our Privacy Policy reflects our belief that achieving this goal and making the technology truly useful for all will require a deep understanding of how our users talk and collaborate with AIs. As users interact with our AIs, we learn a lot about how to make AI better and more useful to you.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Users deserve transparency regarding how that process works, particularly when it comes to their data. This Policy is one part of that transparency. It documents what data we collect, how we keep it secure, and describes how we use that data to improve our Services for everyone. Here are the top level points:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>When you use Frend.ai, we collect data including your name, phone number, email and IP address. We use this data to run Frend.ai, inform improvements to the platform, keep you safe, and comply with all applicable laws.</li>
          <li>Keeping your conversations with Frend.ai private and safe is our top priority, and we will never sell or share your data for advertising or marketing purposes. We have strict internal controls over the use of and access to user data.</li>
          <li>You agree to follow our Acceptable Use policy. When you talk to Frend.ai, you should not try to get it to talk about harmful, abusive, or illegal topics. You also should not attempt to evade our security measures or learn about the models, algorithms, prompts, or source code of Frend.ai. If our automated systems detect this activity, you may be suspended.</li>
          <li>You are not permitted to use Frend.ai if you are under the age of 18.</li>
          <li>Frend.ai may make up facts, events, or advice. You should never rely on anything it tells you without double-checking the facts yourself or, if appropriate, talking to a professional.</li>     
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Information We Collect</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Information you provide to us</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Contact and account information, such as your first and last name, email address, and your phone number.</li>
          <li>Content and metadata of any messages that you send using the Services or to M3W Technology directly.</li>
          <li>Communications that we exchange with you, including when you respond to our surveys or contact us with questions, feedback or otherwise.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Automatic data collection. We and our service providers may automatically log and combine information about you, your computer or mobile device, and your interaction over time with the Services, online resources and our communications, such as:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Device data such as your computer's or mobile device's operating system type and version, manufacturer and model, browser type, screen resolution, device type (e.g., phone, tablet), IP address, unique identifiers, language settings and general location information such as city, state or geographic area.</li>
          <li>Online activity data such as pages or screens you viewed, how long you spent on a page or screen, the website you visited before browsing to the Services, navigation paths between pages or screens, information about your activity on a page or screen, access times, duration of access, and whether you have opened or otherwise engage with our communications.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We use the following tools for automatic data collection:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Cookies, which are text files that websites store on a visitor's device to uniquely identify the visitor's browser or to store information or settings in the browser for the purpose of helping you navigate between pages efficiently, remembering your preferences, enabling functionality, and helping us understand user activity and patterns.</li>
          <li>Local storage technologies, like HTML5, that provide cookie-equivalent functionality but can store larger amounts of data, including on your device outside of your browser in connection with specific applications.</li>
          <li>Web beacons, also known as pixel tags or clear GIFs, which are used to demonstrate that a webpage or email was accessed or opened, or that certain content was viewed or clicked.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Information we obtain from other sources. If you choose to contact or otherwise interact with our Services over a third-party messaging platform such as Facebook Messenger or Instagram, we will collect an identifier of your profile on these platforms.
          Sensitive data. In your conversations with the Services, you may choose to provide sensitive information. This includes, but is not limited to, your religious views, sexual orientation, political views, health, racial or ethnic origin, philosophical beliefs, or trade union membership. By providing sensitive information, you consent to our use of it for the purposes set out in this Privacy Policy.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">How We Use Your Information</p>  
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We use personal information for the following purposes or as otherwise described at the time of collection:</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Provide our Services. We use personal information to operate, maintain, and provide you with our Services. In particular, we use personal information to perform our contractual obligations under our Terms of Service.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Communicate with you about our Services. It is in our legitimate business interests to use personal information to respond to your requests, provide customer support, and communicate with you about our Services, including by sending announcements, surveys, reminders, updates, security alerts, and support and administrative messages.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Improve, monitor, personalize, and protect our Services. It is in our legitimate business interests to improve and keep our Services safe for our users, which includes:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Understanding your needs and interests, and personalizing your experience with the Services and our communications.</li>
          <li>Troubleshooting, testing, and research, and keeping the Services secure.</li>
          <li>Investigating and protecting against fraudulent, harmful, unauthorized, or illegal activity.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Research and development. We may use personal information for research and development purposes where it is in our legitimate business interests, including to analyze and improve the Services and our business. As part of these activities, we may create or use aggregated, de-identified or other anonymized data from personal information we collect. We make personal information into anonymized data by removing information that makes the data personally identifiable to you. We may use this anonymized data and share it with third parties for our lawful business purposes, including to analyze and improve the Services and promote our business.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Compliance and protection. We may use personal information to comply with legal obligations, and to defend us against legal claims or disputes, including to:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Protect our, your, or others' rights, privacy, safety, or property (including by making and defending legal claims).</li>
          <li>Audit our internal processes for compliance with legal and contractual requirements and internal policies.</li>
          <li>Enforce the terms and conditions that govern the Services.</li>
          <li>Prevent, identify, investigate and deter fraudulent, harmful, unauthorized, unethical, or illegal activity, including cyberattacks and identity theft.</li>
          <li>Comply with applicable laws, lawful requests, and legal process, such as to respond to subpoenas or requests from government authorities.</li>
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Sharing Your Information</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We do not sell or share your personal information with third-parties for interest-based advertising purposes . We may disclose your personal information as described below:</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Service providers. We may rely on third-party service providers in furtherance of the purposes described above. In these cases, personal information may be accessed by these third-parties and processed or stored on our behalf. These service providers can include hosting services, cloud computing and storage services, maintenance services, security services, and customer support services. We also may share hashes of names and phone numbers and limited device data for advertising attribution and measurement services. This means that the recipient can recognize your name and phone number only if they already have that information from another source.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Business transferees. Personal information may be transferred to another entity in the event of a bankruptcy, change of control, or shutdown of M3W Technology. We may also transfer personal information in the course of a sale or merger of the business.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Authorities and others. If we are legally obliged or otherwise believe it necessary to do so, personal information may be disclosed to regulatory agencies, law enforcement agencies, courts, and other government authorities, including for the compliance and protection purposes described above.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Privacy Rights and Choices</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Delete your account. You may request that we delete your account by contacting us as provided in the How to Contact Us section below.</p>  
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Opt out of SMS messaging. If you wish to opt out of receiving text messages fromFrend.ai, reply with STOP to any mobile message sent from us. Please note that this may prevent us from sending one-time codes to your phone and may limit your experience. If you would like to allow these codes but disable all other messages, reply with PAUSE to any mobile message sent from us.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Online tracking technologies opt-out. You can opt out of third-party cookies as described in our Cookie Policy.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Personal information requests. We offer you choices that affect how we handle the personal information that we control. Depending on your location and the nature of your interactions with our Services, you may request the following in relation to your personal information:Personal information requests. We offer you choices that affect how we handle the personal information that we control. Depending on your location and the nature of your interactions with our Services, you may request the following in relation to your personal information:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Information about how we have collected and used personal information. We have made this information available to you without having to request it by including it in this Privacy Policy.</li>
          <li>Access to a copy of the personal information that we have collected about you. Where applicable, we will provide the information in a portable, machine-readable, readily usable format.</li>
          <li>Correction of personal information that is inaccurate or out of date.</li>
          <li>Deletion of personal information that we no longer need to provide the Services or for other lawful purposes.</li>
          <li>Withdrawal of consent, where we have collected and processed your personal information with your consent. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect processing of your personal information conducted in reliance on lawful processing grounds other than consent.</li>
          <li>Additional rights, such as to object to and request that we restrict our use of personal information.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">To make a request, please email us or write to us as provided in the How to Contact Us section below. We may ask for specific information from you to help us confirm your identity. Depending on where you reside, you may be entitled to empower an authorized agent to submit requests on your behalf. We will require authorized agents to confirm their identity and authority, in accordance with applicable laws. You are entitled to exercise the rights described above free from discrimination.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Limits on your privacy rights and choices. In some instances, your choices may be limited, such as where fulfilling your request would impair the rights of others, our ability to provide a service you have requested, or our ability to comply with our legal obligations and enforce our legal rights. If you are not satisfied with how we address your request, you may submit a complaint by contacting us as provided in the How to Contact Us section below. Depending on where you reside, you may have the right to complain to a data protection regulator where you live or work, or where you feel a violation has occurred.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Do Not Track. Some Internet browsers can be configured to send “Do Not Track” signals to the online services that you visit. We currently do not respond to “Do Not Track” or similar signals. To find out more about “Do Not Track,” please visit http://www.allaboutdnt.com</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Security</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Security is integral to the success of conversational AI: people need to trust that their data is being handled responsibly and safely in order to fully get the benefits of our Services.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Ensuring the integrity of your data is a major priority for us. M3W Technology has technical measures in place to protect personal information against unauthorized access, corruption, loss, or misuse. This includes internal measures that limit access to personal information to a dedicated set of specialist employees working on improving the safety or quality of our Services. Where possible and appropriate, we also deidentify sensitive data like conversational logs to preserve user privacy.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">However, these measures are not a guarantee of absolute security and you acknowledge and accept that your use of our Services is ultimately at your own risk.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Also, please note that you are responsible for managing access to any accounts that you maintain with M3W Technology. Failure to limit access to your devices or browser might enable third-parties to have unauthorized access to your personal information.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Third-Party Websites and Content</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please be advised that you may encounter links or content through our Services that are provided by third-parties that M3W Technology does own or otherwise control. You acknowledge that any data you provide to these third-parties shall be governed solely by the terms of service, privacy policies, and other terms applicable to those third-parties.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Children</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Our Services are not intended for minors under the age of 18. We do not knowingly collect or solicit personal information from minors under the age of 18. If you are a minor under the age of 18, please do not attempt to use our Services, register an account with us, or send any personal information to us.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">If you believe that a minor under the age of 18 has provided personal information to us or is otherwise using our Services, please let us know immediately at privacy@frend.ai and we will seek to delete this information and revoke access as quickly as possible.</p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
              href="#"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white dark:text-dark"
                >Get Started</span
              >
            </a>
        </div>
      </div>
    </div>
  </Container>
</div>