---
import Container from "./Container.astro"

---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-mint-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-left text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Privacy Policy</h1>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Last updated: September 19, 2023</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please see our Privacy Snapshot for a high-level overview of our privacy practices.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">This Privacy Policy outlines how M3W Technology.Inc (“M3W Technology”, “we”, “us”) your personal information through our website – frend.ai, our mobile applications, our interactions with you through other modes of communication (such as SMS or instant messaging), and any other sites or services that link to this Privacy Policy (collectively, the “Services”).</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Our General Approach</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Conversational artificial intelligence is at the technological frontier. We believe that this emerging technology will fundamentally change the way that we engage with and think about computers in our everyday lives. Ultimately, our goal is to use AI to build safe, smart, kind, and engaging conversational partners.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Our Privacy Policy reflects our belief that achieving this goal and making the technology truly useful for all will require a deep understanding of how our users talk and collaborate with AIs. As users interact with our AIs, we learn a lot about how to make AI better and more useful to you.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Users deserve transparency regarding how that process works, particularly when it comes to their data. This Policy is one part of that transparency. It documents what data we collect, how we keep it secure, and describes how we use that data to improve our Services for everyone. Here are the top level points:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>When you use Frend.ai, we collect data including your name, phone number, email and IP address. We use this data to run Frend.ai, inform improvements to the platform, keep you safe, and comply with all applicable laws.</li>
          <li>Keeping your conversations with Frend.ai private and safe is our top priority, and we will never sell or share your data for advertising or marketing purposes. We have strict internal controls over the use of and access to user data.</li>
          <li>You agree to follow our Acceptable Use policy. When you talk to Frend.ai, you should not try to get it to talk about harmful, abusive, or illegal topics. You also should not attempt to evade our security measures or learn about the models, algorithms, prompts, or source code of Frend.ai. If our automated systems detect this activity, you may be suspended.</li>
          <li>If you are under the age of 18, parental or legal guardian consent must be obtained before using frend.ai</li>
          <li>Frend.ai may make up facts, events, or advice. You should never rely on anything it tells you without double-checking the facts yourself or, if appropriate, talking to a professional.</li>     
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Information We Collect</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Information you provide to us</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Contact and account information, such as your first and last name, email address, and your phone number.</li>
          <li>Content and metadata of any messages that you send using the Services or to M3W Technology directly.</li>
          <li>Communications that we exchange with you, including when you respond to our surveys or contact us with questions, feedback or otherwise.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Automatic data collection. We and our service providers may automatically log and combine information about you, your computer or mobile device, and your interaction over time with the Services, online resources and our communications, such as:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Device data such as your computer's or mobile device's operating system type and version, manufacturer and model, browser type, screen resolution, device type (e.g., phone, tablet), IP address, unique identifiers, language settings and general location information such as city, state or geographic area.</li>
          <li>Online activity data such as pages or screens you viewed, how long you spent on a page or screen, the website you visited before browsing to the Services, navigation paths between pages or screens, information about your activity on a page or screen, access times, duration of access, and whether you have opened or otherwise engage with our communications.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We use the following tools for automatic data collection:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Cookies, which are text files that websites store on a visitor's device to uniquely identify the visitor's browser or to store information or settings in the browser for the purpose of helping you navigate between pages efficiently, remembering your preferences, enabling functionality, and helping us understand user activity and patterns.</li>
          <li>Local storage technologies, like HTML5, that provide cookie-equivalent functionality but can store larger amounts of data, including on your device outside of your browser in connection with specific applications.</li>
          <li>Web beacons, also known as pixel tags or clear GIFs, which are used to demonstrate that a webpage or email was accessed or opened, or that certain content was viewed or clicked.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Information we obtain from other sources. If you choose to contact or otherwise interact with our Services over a third-party messaging platform such as Facebook Messenger or Instagram, we will collect an identifier of your profile on these platforms.
          Sensitive data. In your conversations with the Services, you may choose to provide sensitive information. This includes, but is not limited to, your religious views, sexual orientation, political views, health, racial or ethnic origin, philosophical beliefs, or trade union membership. By providing sensitive information, you consent to our use of it for the purposes set out in this Privacy Policy.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">How We Use Your Information</p>  
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We use personal information for the following purposes or as otherwise described at the time of collection:</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Provide our Services. We use personal information to operate, maintain, and provide you with our Services. In particular, we use personal information to perform our contractual obligations under our Terms of Service.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Communicate with you about our Services. It is in our legitimate business interests to use personal information to respond to your requests, provide customer support, and communicate with you about our Services, including by sending announcements, surveys, reminders, updates, security alerts, and support and administrative messages.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Improve, monitor, personalize, and protect our Services. It is in our legitimate business interests to improve and keep our Services safe for our users, which includes:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Understanding your needs and interests, and personalizing your experience with the Services and our communications.</li>
          <li>Troubleshooting, testing, and research, and keeping the Services secure.</li>
          <li>Investigating and protecting against fraudulent, harmful, unauthorized, or illegal activity.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Research and development. We may use personal information for research and development purposes where it is in our legitimate business interests, including to analyze and improve the Services and our business. As part of these activities, we may create or use aggregated, de-identified or other anonymized data from personal information we collect. We make personal information into anonymized data by removing information that makes the data personally identifiable to you. We may use this anonymized data and share it with third parties for our lawful business purposes, including to analyze and improve the Services and promote our business.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Compliance and protection. We may use personal information to comply with legal obligations, and to defend us against legal claims or disputes, including to:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Protect our, your, or others' rights, privacy, safety, or property (including by making and defending legal claims).</li>
          <li>Audit our internal processes for compliance with legal and contractual requirements and internal policies.</li>
          <li>Enforce the terms and conditions that govern the Services.</li>
          <li>Prevent, identify, investigate and deter fraudulent, harmful, unauthorized, unethical, or illegal activity, including cyberattacks and identity theft.</li>
          <li>Comply with applicable laws, lawful requests, and legal process, such as to respond to subpoenas or requests from government authorities.</li>
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Sharing Your Information</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We do not sell or share your personal information with third-parties for interest-based advertising purposes . We may disclose your personal information as described below:</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Service providers. We may rely on third-party service providers in furtherance of the purposes described above. In these cases, personal information may be accessed by these third-parties and processed or stored on our behalf. These service providers can include hosting services, cloud computing and storage services, maintenance services, security services, and customer support services. We also may share hashes of names and phone numbers and limited device data for advertising attribution and measurement services. This means that the recipient can recognize your name and phone number only if they already have that information from another source.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Business transferees. Personal information may be transferred to another entity in the event of a bankruptcy, change of control, or shutdown of M3W Technology. We may also transfer personal information in the course of a sale or merger of the business.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Authorities and others. If we are legally obliged or otherwise believe it necessary to do so, personal information may be disclosed to regulatory agencies, law enforcement agencies, courts, and other government authorities, including for the compliance and protection purposes described above.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Privacy Rights and Choices</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Delete your account. You may request that we delete your account by contacting us as provided in the How to Contact Us section below.</p>  
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Opt out of SMS messaging. If you wish to opt out of receiving text messages fromFrend.ai, reply with STOP to any mobile message sent from us. Please note that this may prevent us from sending one-time codes to your phone and may limit your experience. If you would like to allow these codes but disable all other messages, reply with PAUSE to any mobile message sent from us.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Online tracking technologies opt-out. You can opt out of third-party cookies as described in our Cookie Policy.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Personal information requests. We offer you choices that affect how we handle the personal information that we control. Depending on your location and the nature of your interactions with our Services, you may request the following in relation to your personal information:Personal information requests. We offer you choices that affect how we handle the personal information that we control. Depending on your location and the nature of your interactions with our Services, you may request the following in relation to your personal information:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Information about how we have collected and used personal information. We have made this information available to you without having to request it by including it in this Privacy Policy.</li>
          <li>Access to a copy of the personal information that we have collected about you. Where applicable, we will provide the information in a portable, machine-readable, readily usable format.</li>
          <li>Correction of personal information that is inaccurate or out of date.</li>
          <li>Deletion of personal information that we no longer need to provide the Services or for other lawful purposes.</li>
          <li>Withdrawal of consent, where we have collected and processed your personal information with your consent. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect processing of your personal information conducted in reliance on lawful processing grounds other than consent.</li>
          <li>Additional rights, such as to object to and request that we restrict our use of personal information.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">To make a request, please email us or write to us as provided in the How to Contact Us section below. We may ask for specific information from you to help us confirm your identity. Depending on where you reside, you may be entitled to empower an authorized agent to submit requests on your behalf. We will require authorized agents to confirm their identity and authority, in accordance with applicable laws. You are entitled to exercise the rights described above free from discrimination.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Limits on your privacy rights and choices. In some instances, your choices may be limited, such as where fulfilling your request would impair the rights of others, our ability to provide a service you have requested, or our ability to comply with our legal obligations and enforce our legal rights. If you are not satisfied with how we address your request, you may submit a complaint by contacting us as provided in the How to Contact Us section below. Depending on where you reside, you may have the right to complain to a data protection regulator where you live or work, or where you feel a violation has occurred.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Do Not Track. Some Internet browsers can be configured to send “Do Not Track” signals to the online services that you visit. We currently do not respond to “Do Not Track” or similar signals. To find out more about “Do Not Track,” please visit http://www.allaboutdnt.com</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Security</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Security is integral to the success of conversational AI: people need to trust that their data is being handled responsibly and safely in order to fully get the benefits of our Services.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Ensuring the integrity of your data is a major priority for us. M3W Technology has technical measures in place to protect personal information against unauthorized access, corruption, loss, or misuse. This includes internal measures that limit access to personal information to a dedicated set of specialist employees working on improving the safety or quality of our Services. Where possible and appropriate, we also deidentify sensitive data like conversational logs to preserve user privacy.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">However, these measures are not a guarantee of absolute security and you acknowledge and accept that your use of our Services is ultimately at your own risk.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Also, please note that you are responsible for managing access to any accounts that you maintain with M3W Technology. Failure to limit access to your devices or browser might enable third-parties to have unauthorized access to your personal information.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Third-Party Websites and Content</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please be advised that you may encounter links or content through our Services that are provided by third-parties that M3W Technology does own or otherwise control. You acknowledge that any data you provide to these third-parties shall be governed solely by the terms of service, privacy policies, and other terms applicable to those third-parties.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Children</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Our AI conversation service is designed to be minor-friendly. We use a sophisticated screening system to ensure that our conversations are appropriate for anyone under the age of 18. However, we do not knowingly collect or solicit personal information from minors under the age of 18. If you are a minor under the age of 18, please do not attempt to use our services without obtaining consent from your parents or legal guardians.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">If you believe that a minor under the age of 18 has provided personal information to us or is otherwise using our Services with out parent and/or legal guardians consent please let us know immediately at privacy@frend.ai and we will seek to delete this information and revoke access as quickly as possible.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Retention</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Where required under applicable laws, we retain personal information only for as long as is necessary to fulfill the purposes for which it was collected and processed, in accordance with our retention policies, and in accordance with applicable laws and regulatory obligations or until you withdraw your consent (where applicable).</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">To determine the appropriate retention period for personal information, we consider the amount, nature, and sensitivity of the personal information, the potential risk of harm from unauthorized use or disclosure of personal information, the purposes for which we use personal information and whether we can achieve those purposes through other means, and the applicable legal and regulatory requirements.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">International Data TransfersUnit</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You will provide personal information directly to our Services in Canada. We may also transfer personal information to our affiliates, partners, and service providers in the United States and other jurisdictions. Please note that such jurisdictions may not provide the same protections as the data protection laws in your home country.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Job Applicants</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">When you visit the careers portion of our websites, we collect the information that you provide to us in connection with your job application. This includes but is not limited to business and personal contact information, professional credentials and skills, educational and work history and other information of the type that may be included in a resume. This may also include diversity information that you voluntarily provide. We use this information on the basis of our legitimate business interests to facilitate our recruitment activities and process employment applications, such as by evaluating a job candidate for an employment activity, to monitor recruitment statistics and to respond to surveys. We may also use this information to provide improved administration of the Services and as otherwise necessary (i) to comply with relevant laws or to respond to subpoenas or warrants served on us, (ii) to protect and defend our or others’ rights or property, (iii) in connection with a legal investigation and (iv) to investigate or assist in preventing any violation or potential violation of the law, this Privacy Policy or our Terms of Service.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Changes To This Policy</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We are continuing to iterate on our Services, and this Privacy Policy will need to be updated. Please be aware that we reserve the right to modify this Privacy Policy at any time.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">When we do so and unless required by law to provide an alternative notice, we will post an updated version on this page. If you choose to continue your use of our Services after such a revision, you consent to be governed by the amended Privacy Policy.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">How to Contact Us</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Responsible entity. M3W Technology is the entity responsible for the processing of personal information under this Privacy Policy (as a controller, where provided under applicable law).</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please reach out to the M3W Technology team at privacy@frend.ai if you have any questions or concerns pertaining to this Privacy Policy.</p>
        <h1 class="text-left text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Privacy Snapshot</h1>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">The chart below provides a high-level snapshot of our privacy practices. You need to read the entire Privacy Policy for complete information.</p>
        <table class="table-auto text-left text-xl2 text-gray-600 dark:text-gray-300">
          <thead>
            <tr>
              <th>Category</th>
              <th>Do We Collect?</th>
              <th>How We Collect</th>
              <th>Primary Purposes of Processing</th>
              <th>Key Recipients / Disclosures</th>
              <th>Can You Limit Sharing?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Identifiers such as a real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name</td>
              <td>Yes</td>
              <td>When you visit or use our Services; from third-party sites and services; when you apply for a job with us</td>
              <td>To provide our Services; to improve, monitor, and personalize our Services; to communicate with you; to process your job application</td>
              <td>Service providers</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Characteristics of protected classifications under ON or federal law</td>
              <td>Yes</td>
              <td>When you apply for a job with us</td>
              <td>To process your job application</td>
              <td>Service providers</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Commercial information, including but not limited to records of personal property, products or services purchased, obtained or considered</td>
              <td>No</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Personal information categories listed in the Freedom of information and Protection Act (e.g., name, contact details)</td>
              <td>Yes</td>
              <td>When you visit or use our Services; from third-party sites and services; when you apply for a job with us</td>
              <td>To provide our Services; to improve, monitor, and personalize our Services; to communicate with you; to process your job application</td>
              <td>Service Providers</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Biometric information</td>
              <td>No</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Internet or other electronic network activity information, including information regarding a consumer's interaction with a website</td>
              <td>Yes</td>
              <td>When you visit or use our Services</td>
              <td>To provide our Services; to improve, monitor, and personalize our Services</td>
              <td>Service providers</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Geolocation data</td>
              <td>Yes</td>
              <td>When you visit or use our Services</td>
              <td>To provide our Services; to improve, monitor, and personalize our Services</td>
              <td>Service providers</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Audio, electronic, visual, thermal, olfactory or similar information</td>
              <td>No</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Professional or employment-related information</td>
              <td>Yes</td>
              <td>When you apply for a job with us</td>
              <td>To process your job application</td>
              <td>Service provider</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Education information, defined as information that is not publicly available personally identifiable information as defined in FERPA</td>
              <td>No</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Inferences drawn from information identified to create a profile about a consumer</td>
              <td>Yes</td>
              <td>When you visit or use our Services</td>
              <td>To provide our Services; to improve, monitor, and personalize our Services</td>
              <td>Service Providers</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Sensitive personal information (as defined in PIPEDA)</td>
              <td>Yes</td>
              <td>When you visit or use our Services; when you apply for a job with us</td>
              <td>To provide our Services; to improve, monitor, and personalize our Services; to process your job application</td>
              <td>Service Providers</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
        <h1 class="text-left text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Cookie Policy</h1>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Last updated: September 19, 2023</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">This Cookie Policy explains how M3W Technology, Inc. (“M3W Technology”, “we”, or “us”) uses cookies and similar technologies when you visit our Services as defined in our Privacy Policy. Here, we explain what these technologies are and why we use them, as well as your rights to control our use of them.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">1. What are cookies and similar technologies?</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Cookies - A cookie is a text file containing a string of characters that is sent to your device when you visit a website. When you visit the website again, the cookie allows that website to recognize your browser. Cookies may store user preferences and other information. Cookies set by the website owner are called “first party cookies.” Cookies set by parties other than the website owner are called “third party cookies.” Third party cookies enable third party features or functionality to be provided on or through a website (e.g., interactive content, and analytics). The parties that set these third party cookies can recognize your device both when it visits the website in question and also when it visits certain other websites.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Local storage - Local storage technologies refer to the methods that websites and applications use to store data locally on your device. The most commonly used local storage technology is called “local Storage” and is part of the HTML5 standard. This technology allows websites or applications to store data that persists even after the user closes their browser or application, or restarts their device.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Session storage - Session storage is a feature of your web browser or device that allows a website or application to temporarily store data on your device while you are actively using the website or application. This data is deleted as soon as you close your browser or application, or navigate away from the website. Websites and applications may use session storage to improve your experience and ensure that certain information is readily available during your browsing session.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Other tracking technologies. Websites and apps use a variety of other tracking technologies too, including web beacons (also known as tracking pixels), third-party tracking scripts, and analytics tools. These technologies provide data on how visitors use websites. We may also use web beacons and “clear GIFs” in communications with you to allow us to count how many people read them and to verify any clicks through to links within an email. If you do not wish for the web beacon to be downloaded onto your device, you should select to receive emails from us in plain text rather than HTML.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">This Cookie Policy refers to all these technologies collectively as “cookies.”</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">2. What type of information do cookies collect?</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We and our service providers may automatically log and combine information about you, your computer or mobile device, and your interaction over time with the Services, online resources and our communications, such as:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Device data such as your computer's or mobile device's operating system type and version, manufacturer and model, browser type, screen resolution, device type (e.g., phone, tablet), IP address, unique identifiers, language settings and general location information such as city, state or geographic area.</li>
          <li>Online activity data such as pages or screens you viewed, how long you spent on a page or screen, the website you visited before browsing to the Services, navigation paths between pages or screens, information about your activity on a page or screen, access times, duration of access and whether you have opened or otherwise engage with our communications.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We use both persistent cookies and session cookies. Persistent cookies stay on your device for a set period of time or until you delete them, while session cookies are deleted once you close your web browser.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">3. Why do we use cookies?</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We only use essential cookies. These cookies are strictly necessary to provide you with our Services, by, for example, providing page navigation and access to secure areas of the Services.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">4. How can you control cookies?</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You can set your browser to block cookies, but then some parts of the Services will not work given that we only use cookies that are strictly necessary to provide you with our Services. To do this, follow the instructions in your browser settings. Many browsers accept cookies by default until you change your settings. For more information about cookies, including how to see what cookies have been set on your device and how to manage and delete them, visit www.allaboutcookies.org. Use the following links to learn more about how to control cookies and online tracking through your browser: Firefox; Chrome; Microsoft Edge; Safari.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Note that because these opt-out mechanisms are specific to the device or browser on which they are exercised, you will need to opt out on each browser and device that you use.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Do Not Track. Some Internet browsers can be configured to send “Do Not Track” signals to the online services that you visit. We currently do not respond to “Do Not Track” or similar signals. To find out more about “Do Not Track,” please visit http://www.allaboutdnt.com</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">5. How often will we update this Cookie Policy?</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal or regulatory reasons. We will notify you of any material changes to this Cookie Policy prior to the changes becoming effective by posting the changes on this page and providing a more prominent notice with on-site or email notifications. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">The date at the top of this Cookie Policy indicates when it was last updated.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">5. How often will we update this Cookie Policy?</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please reach out to the M3W Technology team at privacy@frend.ai if you have any questions or concerns pertaining to this Cookie Policy.</p>
        <h1 class="text-left text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Cookie Policy</h1>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Last updated: September 19, 2023</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">These Terms of Use (“Terms”) govern your use of M3W Technology, Inc. (“M3W Technology”, “we”, “us”) products and services including our website and conversational AIs (“Services”).</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">These Terms incorporate by reference our Privacy Policy, as well as any other written policies and documentation that we may provide from time to time. You agree to use our Services in compliance with these Terms.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Your use of our Services in any manner means that you agree to the Terms. Unfortunately, if you do not agree with these Terms, you may not access or use our Services.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Our Services</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">M3W Technology believes that conversational AI will fundamentally reshape the way that we interact and use computers in our everyday lives. As you interact with our Services, we will learn more about how to make this emerging technology ever more helpful, collaborative, and fun to communicate with.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Given the early state of this technology, we also acknowledge that there are areas that we will need to continually improve on to make sure that our Services can reach their full potential. As part of that, you recognize that:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>We will use the content of your conversations to improve our Services. We will use the content of your conversations as well as other metadata to train our models, improve our Services, and create new Services. Our uses of this data are detailed in our Privacy Policy.</li>
          <li>You must use our Services in accordance with our Acceptable Use policy. Your access to our Services is conditioned on your agreement to use the Services in accordance with these Terms generally and our Acceptable Use policy (as detailed below in “Acceptable Use”).</li>
          <li>The information you receive from our Services may not be accurate. You recognize that any information you receive from our Services may not be accurate or otherwise trustworthy. Do not rely on this information without fact-checking on your own first or consulting with a professional. Getting factuality right remains an active area of research for the entire field of conversational AI, and it remains a major priority for the development of M3W Technology services going forward. Please review the “No Warranties” section below.</li>
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Registering for Our Services</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You register for our Services by providing us with your name and phone number. In doing so, you agree to:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Provide us with complete and accurate registration information. You may not use a phone number that you do not control, and you may not attempt to impersonate another person in registration.</li>
          <li>If you are registering for our Services on behalf of an organization, you warrant that you are authorized to agree to these Terms on their behalf.</li>
          <li>Be responsible for the security of your account. You accept that you are solely responsible for all activities that take place through your account, and that failure to limit access to your devices or browser may permit unauthorized use by third-parties.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Finally, our Services are not intended for minors under the age of 18. If you are a minor under the age of 18, please do not register for our Services or send any Personal Information to us. If you have reason to believe that a minor under the age of 18 is using our Services, please let us know immediately at privacy@frend.ai and we will seek to revoke access and delete any associated information as quickly as possible.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Acceptable Use</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You agree that you will use our Services in accordance with the following rules, as well as any other written policies we may provide from time to time:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Illegal Use: You must use our Services in compliance with the law. If your use of our Services are limited by the laws applicable to you, you are not authorized to use our Services for that purpose.</li>
          <li>Harmful Uses: You may not use or attempt to use our Services to generate harmful content. Such content includes material that may lead to serious harm to yourself or others, content relating to unethical behavior, or content that may spread misinformation. This policy also bars attempts to use the Services to create content to be fraudulently represented as human-generated.</li>
          <li>Abusive Content: You may not use or attempt to use our Services to generate hateful or discriminatory content, sexually explicit content, descriptions of graphic violence, or other types of shocking material.</li>
          <li>Infringing Rights: You may not use or attempt to use our Services to infringe or violate the rights of others, including violations of the privacy of others. This includes queries to surface the personal information of individuals, including phone numbers, addresses, and other similar sensitive data.</li>
          <li>Security: You may not attempt to engage with our Services in an effort to disable, disrupt, or otherwise subvert the security of our Services. This includes attempts to bypass or disable any content moderation and safety measures implemented within our Services.</li>
          <li>Reverse Engineering: You may not use or attempt to use our Services to reverse engineer, decompile, or otherwise attempt to obtain the underlying models, algorithms, or source code of the Services. You may not engage in this or any other activities with regards to our Services to build products that may be competitive with M3W Technology.</li>
          <li>Scraping: You may not scrape or attempt to “crawl” or “spider” any page, data, or portion of our Services, either via manual or automated means.</li>
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Content</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You will input text and other forms of media (“Content”) during your use of our Services. You agree that you shall not input any Content that is not owned by you unless you have prior written consent from the relevant rightsholder of that Content.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">While you will own any Content, you agree to provide a royalty-free, perpetual, irrevocable, and worldwide license to M3W Technology to the Content for the following limited purposes:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Operating the Services: You grant M3W Technology a license to use, reproduce, modify, or otherwise act on the Content in order to enable the provision and maintenance of the Services. This includes uses to comply with applicable laws, enable the provision of our Services across channels and platforms, ensure user safety and security, and enforce our policies.</li>
          <li>Improving the Services: You grant M3W Technology a license to use the Content to improve our Services and develop new Services. This license shall permit uses including but not limited to analysis of the content of conversations to understand opportunities for new features, the use of Content for model training and fine-tuning, and evaluating the performance of our existing Services.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">This license should be read alongside our Privacy Policy, which details how we use the Content and manage it internally. Please review it carefully.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Intellectual Property</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>M3W Technology Intellectual Property: These Terms do not provide you with any right, title, or interest in our Services, our trademarks, or other intellectual property of M3W Technology.</li>
          <li>Feedback: We welcome any and all feedback, ideas for improvement, product proposals, and other suggestions. However, if you provide this to us, you recognize that we may use this without restriction and without any further notice or compensation to you.</li>
          <li>Copyright Notices: If you believe that your copyright has been infringed by something on our Services, you can send us The Notice and Notice Regime by sending an email to copyright@frend.ai. On receipt of a compliant notice, we shall work to promptly remove or disable material identified as infringing. Please include the following information in your notice:</li>
          <li>A description of the work or works you claim have been infringed;</li>
          <li>A description of the content on our Services you claim to be infringing;</li>
          <li>Your contact information, including mailing address, telephone number, and email address;</li>
          <li>Your statement confirming a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;</li>
          <li>Your statement confirming that the information you've provided is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
          <li>Your signature</li>
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Telephonic Communications Services</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">By using the Services and providing us with your telephone number(s), you are consenting to be contacted by M3W Technology by telephone (including on a recorded line), automated calling, automated telephone dialing system calling, automated system calling, artificial voice or pre-recorded calling, text message, SMS and/or MMS message, or other telephonic or electronic means for marketing, solicitation, informational or another purposes, even if your telephone number(s) is registered on the National Do Not Call List, a state Do not Call List, or the internal Do Not Call List of M3W Technology. You may be required to respond to an initial call or message as instructed to complete your registration and confirm enrollment to receive such calls, texts or other telephonic communications. You do not have to consent to receive calls or text messages from M3W Technology for marketing or solicitation purposes to purchase any M3W Technology products or services. In the event you no longer wish to receive such calls, text messages or other telephonic communications, you agree to notify M3W Technology directly. In the event you change or deactivate your telephone number, you agree to promptly update your M3W Technology account information to ensure that your messages are not sent to a person that acquires your old telephone number.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">There is no additional charge for telephonic communications, but your carrier's standard message and data rates apply to any calls, text messages, SMS or MMS messages you send or receive. Message frequency may vary. Your carrier may prohibit or restrict certain mobile features and certain mobile features may be incompatible with your carrier or mobile device. We are not liable for any delays in the receipt of, or any failures to receive, any calls, text messages, SMS or MMS messages, as delivery is subject to effective transmission by your mobile carrier and compatibility of your mobile device. Please contact your mobile carrier if you have any questions regarding these issues or your mobile data and messaging plan. Carriers are not liable for delayed or undelivered messages.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">By reply to any text, SMS or MMS message you receive from us, you may text “STOP” to cancel or “HELP” for customer support information. You can also get help directly at support@frend.ai. If you choose to cancel text, SMS or MMS messages from us, you agree to receive a final message from us confirming your cancellation. Please note that if you text “STOP”, this may prevent us from sending one-time codes to your phone and may limit your experience. If you would like to allow these codes but disable all other messages, reply with “PAUSE” to any message sent from us.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">If you have any questions regarding privacy, please read our Privacy Policy.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Limitation of Liability</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (WHETHER IN CONTRACT, TORT, OR OTHERWISE) SHALL M3W TECHNOLOGY INC BE LIABLE TO YOU OR ANY THIRD PARTY FOR (A) ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS, LOST SALES OR BUSINESS, LOST DATA, OR (B) FOR ANY DIRECT DAMAGES, COSTS, LOSSES OR LIABILITIES IN EXCESS ONE HUNDRED ($100) U.S. DOLLARS. THE PROVISIONS OF THIS SECTION ALLOCATE THE RISKS UNDER THESE TERMS BETWEEN THE PARTIES, AND THE PARTIES HAVE RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO ENTER INTO THESE TERMS.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">No Warranties</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. M3W TECHNOLOGY INC EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">M3W TECHNOLOGY INC MAKES NO WARRANTY THAT (A) THE SERVICES WILL MEET YOUR REQUIREMENTS; (B) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; (C) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE; OR (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Third Party Services and Websites</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">The Services may provide links or other access to services, sites, technology, and resources that are provided or otherwise made available by third parties (the “Third-Party Services”). Your access and use of the Third-Party Services may also be subject to additional terms and conditions, privacy policies, or other agreements with such third party, and you may be required to authenticate to or create separate accounts to use Third-Party Services on the websites or via the technology platforms of their respective providers. For more information about the implications of activating Third-Party Services and our use, storage and disclosure of information related to you and your use of such Third-Party Services within the Service, please see our Privacy Policy.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">M3W Technology has no control over and is not responsible for such Third-Party Services, including for the accuracy, availability, reliability, or completeness of information shared by or available through Third-Party Services, or on the privacy practices of Third-Party Services. We encourage you to review the privacy policies of the third parties providing Third-Party Services prior to using such services. You, and not M3W Technology, will be responsible for any and all costs and charges associated with your use of any Third-Party Services. M3W Technology enables these Third-Party Services merely as a convenience and the integration or inclusion of such Third-Party Services does not imply an endorsement or recommendation. Any dealings you have with third parties while using the Service are between you and the third party. M3W Technology will not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any Third-Party Services.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Terminating Your Account</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">M3W Technology is free to terminate or suspend access to your use of our Services at any time and for any reason at our discretion. Reasons for termination may include our determination that you have violated these Terms, where we determine it is necessary to ensure user safety, for legal compliance reasons, or where we believe it necessary to protect the rights or property of M3W Technology.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You may also request a deletion of our account by contacting support@frend.ai. Please be advised that for security and privacy reasons we may request information to verify your entity in order to process these requests.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">You agree that provisions of these Terms pertaining to indemnification, limitations of liability, intellectual property, dispute and arbitration, and any other terms that - by their nature - should survive termination of the Terms, shall survive.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Changes to the Services</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Artificial intelligence is a fast-moving field, and M3W Technology is continually working to make our Services better for our users. This means that our Services can and will change over time. M3W Technology may augment, modify, discontinue, or suspend any part of our Services at any time. We will work to provide advance notice to you where appropriate, but you acknowledge that this may not always be possible.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Changes to These Terms</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">M3W Technology reserves the right to amend these Terms at any time for any reason. We will provide notice of these changes by updating this page with the revised Terms and updating the effective date. No other amendments to the Terms shall be effective unless in writing and signed by you and a representative of M3W Technology.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">The use of any of our Services after such an amendment to the Terms shall be considered an acceptance of all changes to the Terms. If you do not agree with the revised Terms, you must immediately cease any use of our Services.</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Miscellaneous Terms</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Violations: M3W Technology reserves the sole discretion to determine whether or not a user is in violation of any of the provisions of these Terms.</li>
          <li>Indemnification: To the fullest extent allowed by applicable law, you agree to indemnify and hold M3W Technology, its affiliates, officers, agents, employees, and partners harmless from and against any and all claims, liabilities, damages (actual and consequential), losses and expenses (including attorneys' fees) arising from or in any way related to any third party claims relating to (a) your use of our Services (including any actions taken by a third party using your account), and (b) your violation of these Terms.</li>
          <li>Assignment: You may not assign or delegate any rights or obligations under these Terms, including in connection with a change of control. Any purported assignment and delegation shall be null and void. We may assign these Terms in connection with a merger, acquisition or sale of all or substantially all of our assets, or to any affiliate or as part of a corporate reorganization.</li>
          <li>Choice of Law: These Terms are governed by and will be construed under applicable federal law and the laws of the Province of Ontario, without regard to the conflicts of laws provisions thereof.</li>
          <li>Arbitration: Any dispute arising from or relating to the subject matter of these Terms shall be finally settled by arbitration in Ontario, Canada in accordance with the Streamlined Arbitration Rules and Procedures of Mireille Tabib Mediation then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of Mireille Tabib Mediation in accordance with the Streamlined Arbitration Rules and Procedures of Mireille Tabib Mediation. Judgment upon the award so rendered may be entered in a court having jurisdiction, or application may be made to such court for judicial acceptance of any award and an order of enforcement, as the case may be. Notwithstanding the foregoing, you and M3W Technology shall have the right to institute an action in a court of proper jurisdiction for injunctive or other equitable relief pending a final decision by the arbitrator.</li>
          <li>Jurisdiction and Venue: For all purposes of these Terms, you consent to exclusive jurisdiction and venue in the state or federal courts located in, respectively, Toronto or Ontario. The prevailing party in any action or proceeding arising out of these Terms will be entitled to an award of costs and attorneys' fees.</li>
          <li>Class Action Waiver: To the fullest extent permitted by law, you and M3W Technology agree that all claims against the other can only be brought in an individual capacity, and not as a plaintiff or class member in any purported class, consolidated, or other representative proceeding. We agree that arbitrators may not conduct any class, consolidated, or representative proceeding, and are limited to providing relief warranted by an individual party's claim.</li>
          <li>No Joint Venture or Beneficiaries: You hereby acknowledge and agree that you are not an employee, agent, partner, or joint venture of M3W Technology, and you do not have any authority of any kind to bind us in any respect whatsoever. There are also no third-party beneficiaries intended under these Terms.</li>
          <li>Waiver: The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any further rights hereunder.</li>
          <li>Notices: Notices under these Terms shall be provided to you under the information provided to M3W Technology when you registered your account. Notices to M3W Technology may be provided by sending a message to support@frend.ai. Notice shall be considered effective as of the date of receipt.</li>
          <li>Severability: If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise remain in full force and effect and enforceable.</li>
          <li>Entire Agreement: You agree that these Terms are the complete and exclusive statement of the mutual understanding between you and us, and that it supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of these Terms.</li>
        </ul>

        <div class="flex flex-wrap justify-center gap-6">
          <a
              href="https://timely.frend.ai"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white dark:text-dark"
                >Get Started</span
              >
            </a>
        </div>
      </div>
    </div>
  </Container>
</div>