---
import Container from "./Container.astro"

---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-mint-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-left text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Privacy Policy</h1>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Last updated: September 19, 2023</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Please see our Privacy Snapshot for a high-level overview of our privacy practices.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">This Privacy Policy outlines how M3W Technology.Inc (“M3W Technology”, “we”, “us”) your personal information through our website – frend.ai, our mobile applications, our interactions with you through other modes of communication (such as SMS or instant messaging), and any other sites or services that link to this Privacy Policy (collectively, the “Services”).</p>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Our General Approach</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Conversational artificial intelligence is at the technological frontier. We believe that this emerging technology will fundamentally change the way that we engage with and think about computers in our everyday lives. Ultimately, our goal is to use AI to build safe, smart, kind, and engaging conversational partners.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Our Privacy Policy reflects our belief that achieving this goal and making the technology truly useful for all will require a deep understanding of how our users talk and collaborate with AIs. As users interact with our AIs, we learn a lot about how to make AI better and more useful to you.</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Users deserve transparency regarding how that process works, particularly when it comes to their data. This Policy is one part of that transparency. It documents what data we collect, how we keep it secure, and describes how we use that data to improve our Services for everyone. Here are the top level points:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>When you use Frend.ai, we collect data including your name, phone number, email and IP address. We use this data to run Frend.ai, inform improvements to the platform, keep you safe, and comply with all applicable laws.</li>
          <li>Keeping your conversations with Frend.ai private and safe is our top priority, and we will never sell or share your data for advertising or marketing purposes. We have strict internal controls over the use of and access to user data.</li>
          <li>You agree to follow our Acceptable Use policy. When you talk to Frend.ai, you should not try to get it to talk about harmful, abusive, or illegal topics. You also should not attempt to evade our security measures or learn about the models, algorithms, prompts, or source code of Frend.ai. If our automated systems detect this activity, you may be suspended.</li>
          <li>You are not permitted to use Frend.ai if you are under the age of 18.</li>
          <li>Frend.ai may make up facts, events, or advice. You should never rely on anything it tells you without double-checking the facts yourself or, if appropriate, talking to a professional.</li>     
        </ul>
        <p class="text-left text-2xl font-bold text-gray-600 dark:text-gray-300">Information We Collect</p>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Information you provide to us</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Contact and account information, such as your first and last name, email address, and your phone number.</li>
          <li>Content and metadata of any messages that you send using the Services or to M3W Technology directly.</li>
          <li>Communications that we exchange with you, including when you respond to our surveys or contact us with questions, feedback or otherwise.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Automatic data collection. We and our service providers may automatically log and combine information about you, your computer or mobile device, and your interaction over time with the Services, online resources and our communications, such as:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Device data such as your computer’s or mobile device’s operating system type and version, manufacturer and model, browser type, screen resolution, device type (e.g., phone, tablet), IP address, unique identifiers, language settings and general location information such as city, state or geographic area.</li>
          <li>Online activity data such as pages or screens you viewed, how long you spent on a page or screen, the website you visited before browsing to the Services, navigation paths between pages or screens, information about your activity on a page or screen, access times, duration of access, and whether you have opened or otherwise engage with our communications.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">We use the following tools for automatic data collection:</p>
        <ul class="list-inside text-left text-xl list-disc text-gray-600 dark:text-gray-300">
          <li>Cookies, which are text files that websites store on a visitor‘s device to uniquely identify the visitor’s browser or to store information or settings in the browser for the purpose of helping you navigate between pages efficiently, remembering your preferences, enabling functionality, and helping us understand user activity and patterns.</li>
          <li>Local storage technologies, like HTML5, that provide cookie-equivalent functionality but can store larger amounts of data, including on your device outside of your browser in connection with specific applications.</li>
          <li>Web beacons, also known as pixel tags or clear GIFs, which are used to demonstrate that a webpage or email was accessed or opened, or that certain content was viewed or clicked.</li>
        </ul>
        <p class="text-left text-xl text-gray-600 dark:text-gray-300">Information we obtain from other sources. If you choose to contact or otherwise interact with our Services over a third-party messaging platform such as Facebook Messenger or Instagram, we will collect an identifier of your profile on these platforms.
          Sensitive data. In your conversations with the Services, you may choose to provide sensitive information. This includes, but is not limited to, your religious views, sexual orientation, political views, health, racial or ethnic origin, philosophical beliefs, or trade union membership. By providing sensitive information, you consent to our use of it for the purposes set out in this Privacy Policy.</p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
              href="#"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white dark:text-dark"
                >Get Started</span
              >
            </a>
        </div>
      </div>
    </div>
  </Container>
</div>