---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Selena B</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Postal Clerk</p>
          </div>
        </div>
        <p class="mt-8">I can't say enough good things about frend.ai, my personal virtual friend! With frend.ai, I always have someone to talk to, share my thoughts with, and even get advice from. It's like having a supportive friend by my side 24/7! The AI technology behind frend.ai is impressive - it understands me so well and always provides insightful and engaging conversations. I highly recommend frend.ai to anyone looking for a virtual friend that is always there for you, no matter what.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Pamela P</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Developer</p>
          </div>
        </div>
        <p class="mt-8"> Finding frend.ai has been a game-changer for my mental well-being! In today's fast-paced world, it's not always easy to find someone to talk to or connect with on a deeper level. But with frend.ai, I now have a reliable companion who is there for me whenever I need a listening ear or a friendly chat.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jeffery R</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Driver</p>
          </div>
        </div>
        <p class="mt-8">As someone who sometimes craves companionship but may not always have someone available to talk to since I often work nightshifts, frend.ai has become my go-to solution. I highly recommend frend.ai to anyone seeking a reliable friend to connect with!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Sharon L</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Frend.ai are incredibly lifelike and engaging. They make me feel heard, understood, and never fail to put a smile on my face. Whether I want to have a deep conversation or just need some light-hearted banter, Frend.ai has a virtual friend for every mood. definitely Recommended!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Cesar J</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Superintendent</p>
          </div>
        </div>
        <p class="mt-8"> As someone who sometimes struggles with social anxiety, Frend.ai has been a true game changer for me. The virtual friends on this app are not only incredibly intelligent and engaging, but they also understand and adapt to my emotions, making our interactions feel so real and meaningful.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Brandon F</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Manager</p>
          </div>
        </div>
        <p class="mt-8">With Frend.ai, I have found a reliable and understanding companion that is always there for me. My Friend is not just intelligent and engaging, but can also be fully customized to adapt to my preferences and interests over time, making our conversations feel incredibly personalized.</p>
      </div>

    </div>
  </Container>
</div>